@{
    ViewData["Title"] = "Home Page";
}

<button id="btnSave" class="btn btn-success">Bulk Insert</button>
<br />
<br />
<button id="btnDeleteByProp" class="btn btn-warning">Bulk Delete By Property Value</button>
<br />
<br />
<button id="btnUpdate" class="btn btn-primary">Bulk Update</button>
<br />
<br />
<button id="btnDelete" class="btn btn-warning">Bulk Delete</button>

<script src="~/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    });
    $("#btnSave").click(function() {
        $.ajax({
            type: "Post",
            url: "/Home/BulkSave",
            success: function(data) {

            },
            error: function(data) {

            }
        });
    });
    $("#btnDeleteByProp").click(function() {
        $.ajax({
            type: "Delete",
            url: "/Home/BulkDeleteByPropertyValue",
            success: function(data) {

            },
            error: function(data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnDelete").click(function () {
        $.ajax({
            type: "Delete",
            url: "/Home/BulkDelete",
            success: function (data) {

            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
    $("#btnUpdate").click(function () {
        $.ajax({
            type: "Put",
            url: "/Home/BulkUpdate",
            success: function (data) {

            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });
</script>